<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Домашняя страница</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #fff;">
<div class="container h-100">
    <div class="h-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <h3>Тут должен быть какой-то текст восхваляющий этот невероятный бот, но пока его нет :)</h3>
                <hr/>
                <ul>
                    <li><a href="link1">Какая-то ссылка 1, которая никуда не ведет</a></li>
                    <li><a href="link2">Какая-то ссылка 2, которая никуда не ведет</a></li>
                </ul>
                <hr/>
                <ul>
                    <h2>Зато есть картинка с котиком</h2>
                    <li><img width="400" height="300" th:src="@{/images/cat.jpg}"/></li>
                </ul>
                <hr/>
            </div>
        </div>
    </div>
</div>
</body>